
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreTemplate</title>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <script src="~/js/thirdparty.bundle.js"></script>    
</head>
<body>
    @RenderBody()
</body>
</html>
